extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 
    // Content Row
    .row
      // Content Column
      .col-lg-12.mb-4
        // DataTales Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary #{title} Info
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='15')
                thead
                  tr
                    th Name
                    th Username
                    th Email
                    th Phone
                    th Company
                    th Admin
                tbody
                  each user, i in users
                    tr.odd.gradeX
                      td
                        a(href="/users/"+ user._id)=user.name
                      td
                        = user.username
                      td
                        = user.email
                      td
                        = user.phone
                      td
                        = user.company
                      td
                        = user.admin
  // /.container-fluid
  // End of Main Content
  #editUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editUserLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#editUserLabel.modal-title Edit User
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
            .modal-body
                form(method='POST', action='/users/edit/'+user.id)
                    #form-group
                        label Role:
                        select.form-control(name='admin', type='text')
                            option User
                            option Admin
                                if user
                                    if user.admin == "Super Admin"
                                        option Super Admin 
                    #form-group
                        label Name:
                        input.form-control(name='name', type='text', value=user.name)
                    #form-group
                        label Email:
                        input.form-control(name='email', type='text', value=user.email)
                    #form-group
                        label Phone:
                        input.form-control(name='phone', type='text' value=user.phone)    
                    br
                    input.btn.btn-primary(type='submit', value='Submit')
                    a.btn.btn-danger(href='/users') Cancel 