extends layout

block content
    br
    h1 #{title}
    form(method='POST', action='/devices/edit/'+device.id)
        #form-group
            label PC Name:
            input.form-control(name='pcname', type='text', value=device.pcname)
        #form-group
            label IP Address:
            input.form-control(name='ipaddress', type='text' value=device.ipaddress)
        #form-group
            label Mac Address:
            input.form-control(name='macaddress', type='text' value=device.macaddress)
        #form-group
            label Company:
            select.form-control(name='company', type='text')
                each company, i in companies
                    option(value= company.name) #{company.name}
        #form-group
            label Site:
            select.form-control(name='site', type='text')
                each site, i in sites
                    each company in companies
                        if site.company == company.name
                            option(value= site.name) #{site.name}
            br

        input.btn.btn-primary(type='submit', value='Submit')
        a.btn.btn-danger(href='/devices') Cancel