extends layout

block content


        br
        h1 #{title}
        form(method='POST', action='/sites/edit' +sites.id)
            #form-group
                label ID:
                input.form-control(name='id', type='text', value=sites.id)
            #form-group
                label Name:
                input.form-control(name='name', type='text', value=sites.name)
            #form-group
                label Email:
                input.form-control(name='email', type='text', value=sites.email)
            #form-group
                label Address:
                input.form-control(name='address', type='text', value=sites.address)
            #form-group
                label City:
                input.form-control(name='city', type='text', value=sites.city)
            #form-group
                label County:
                input.form-control(name='county', type='text', value=sites.county)
            #form-group
                label Post Code:
                input.form-control(name='postcode', type='text', value=sites.postcode)
            #form-group
                label Country:
                input.form-control(name='country', type='text', value=sites.country)
            #form-group
                label Phone Number:
                input.form-control(name='phonenumber', type='text', value=sites.phonenumber)
            #form-group
                label Company:
                select.form-control(name='company', type='text')
                    each company, i in companies
                        option #{company.name}
        br
        input.btn.btn-primary(type='submit', value='Submit')


