extends layout2

block content
    #page-wrapper
      .row
        .col-lg-12
          h3.page-header Users & Roles

      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading
              | User Information
            // /.panel-heading
            .panel-body
              // Nav tabs
              ul.nav.nav-tabs
                li.active
                  a(href="#home" data-toggle="tab") User
                  if users 
                    if users.admin == "Super Admin" || users.admin == "Admin"  
                      li
                        a(href='#editUser', data-toggle='modal', data-target='#editUser') Edit User
              // Tab panes
              .tab-content
                #home.tab-pane.fade.in.active
                    // /.row
                    .row
                    .col-lg-12
                        .panel.panel-default
                        .panel-heading
                        // /.panel-heading
                        .panel-body
                            table#dataTables-example.table.table-striped.table-bordered.table-hover(width="100%")
                              thead
                                tr
                                  th Name
                                  th Username
                                  th Email
                                  th Phone
                                  th Company
                                  th Admin
                              tbody
                                      tr.odd.gradeX
                                        td
                                          = user.name
                                        td
                                          = user.username
                                        td
                                          = user.email
                                        td
                                          = user.phone
                                        td
                                          = user.company
                                        td
                                          = user.admin  
                                    
                            // /.table-responsive
                        // /.panel-body
                        // /.panel
                         .col-lg-12(style='padding-top: 20px;')
                        #editUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editUserLabel', aria-hidden='true')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        h5#editUserLabel.modal-title Edit User
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true')
                                    .modal-body
                                        form(method='POST', action='/users/edit/'+user.id)
                                            #form-group
                                                label Role:
                                                select.form-control(name='admin', type='text')
                                                    option(value='User' selected=userRole) User
                                                    option(value='Admin' selected=adminRole) Admin
                                                        if user
                                                            if user.admin == "Super Admin"
                                                                option(value='Super Admin') Super Admin 
                                            #form-group
                                                label Name:
                                                input.form-control(name='name', type='text', value=user.name)
                                            #form-group
                                                label Email:
                                                input.form-control(name='email', type='text', value=user.email)
                                            #form-group
                                                label Phone:
                                                input.form-control(name='phone', type='text' value=user.phone)
                                            #form-group
                                                label Sites:
                                                  .boxes
                                                    each site, i in sites 
                                                      .checkbox    
                                                        label 
                                                          input(name='sites', type='checkbox', value=site.name, checked=check[i])  
                                                          = site.name 
                                            br      
                                                          
                                                                                                 
                                            input.btn.btn-primary(type='submit', value='Submit')
                                            a.btn.btn-danger(href='/users/'+user._id) Cancel 
                        #userSites.modal.fade(tabindex='-1', role='dialog', aria-labelledby='userSitesLabel', aria-hidden='true')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        h5#userSitesLabel.modal-title User Sites 
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true')
                                    .modal-body
                                        form(method='POST', action='/users/edit/'+user.id)
                                           
                                            #form-group
                                                label Sites:
                                                  .boxes
                                                    each site, i in sites
                                                      .checkbox
                                                        label
                                                          input(name='sites', type='checkbox', value=site.name checked=check2)
                                                          = site.name
                                                          
                                                          
                                                                                                 
                                            input.btn.btn-primary(type='submit', value='Submit')
                                            a.btn.btn-danger(href='/users/'+user._id) Cancel                       
            // /.panel-body
          // /.panel
      // /.row
    // /#page-wrapper
    // /#wrapper
    // jQuery
